body{
    margin: 0;
    padding: 0;
    background: #fff url(img/fondo.jpg) no-repeat ;
    background-size: 100%;
    height: 100%;
}
/*--------------------------------BARRA NAVEGACION----------------------------------------------------*/
.top{
    background-color: #f5e57f;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
}
.cuerpo{
    position: absolute;
    top: 8em;
}
#iconos{
    float: left;
    margin-left: 150px;
    margin-right: 120px;
    padding-top: 15px;

}
#iconos a{
    text-decoration: none;
    color: black;
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 50px;
}
.top img{
    float: left;
    width: 10%;
    padding-top: 15px;
    padding-left: 30px;
}
/*----------------------------------DESCRIPCION------------------------------------------------------*/
.bienvenida{
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    width: 100%;
    font-size: x-large;
    color: black;
    
}
.descripcion {
 
    margin-left: 20px ;
    margin-right: 20px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    padding: 20px;

}
.nombre{
    margin-left: 500px ;
    margin-right: 200px;
    width: 45%;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    padding: 20px;
}
/*----------------------------------------SERVICIOS------------------------------------------------*/
 .servicio table{
    margin-left: 120px ;
    margin-right: 120px;
    border: 2px solid wheat;
    padding: 20px;
    margin-bottom: 120px;
 }
 .descripcion2{
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    padding-left: 20px;
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    font-size: x-large;
    padding-bottom: 30px;
 }
 

/*-----------------------------BUTTOM-------------------------------------------------------------*/
    .pie{
    clear: both;
    background-color:rgb(143, 142, 140);
    opacity: 0.9;
    border-top: 1px solid wheat;
    }
    #contactos{
    float: left;
    padding-left: 200px;
    padding-right: 20px ;
    }
    #contactos h3{
        font-size: x-large;
    }
    #ubicacion h3{
        font-size: x-large;
    }
    