body{
    margin: 0;
    padding: 0;
    background: #fff url(img/fondo.jpg) no-repeat ;
    background-size: 100%;
    height: 100%;
}
/*--------------------------------BARRA NAVEGACION----------------------------------------------------*/
.top{
    background-color: #f5e57f;
    width: 100%;
    height: 85px;
    position: fixed;
    z-index: 1000;
}
.cuerpo{
    position: absolute;
    top: 6em;
}
#iconos{
    float: left;
    margin-left: 150px;
    margin-right: 120px;
    padding-top: 10px;

}
#iconos a{
    text-decoration: none;
    color: black;
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 50px;
}
.top img{
    float: left;
    width: 10%;
    padding-top: 10px;
    padding-left: 30px;
}
/*------------------------------CUERPO------------------------------------------------------------*/
.cuerpo{
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    width: 70%;
    color: black;
    margin-left: 20px ;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    
}
.cuerpo h2{
    font-size: xx-large;
}



/*-----------------------------BUTTOM-------------------------------------------------------------*/
.pie{
    clear: both;
    background-color:rgb(143, 142, 140);
    opacity: 0.9;
    border-top: 4px double wheat;
    height: 230px;
    margin-top: 179px;
    }
    #contactos{
    float: right;
    margin-right: 550px;
    }
    #contactos h3{
        font-size: x-large;

    }
    #contactos p{
        font-size:large;   
    }
    #contactos a{
        font-size:x-large; 
    }
    #ubicacion h3{
        
        font-size: x-large;
        margin-left: 300px;
    }
    #ubicacion p{
        font-size:large;
        margin-left: 300px;
    }
    iframe{
        position: absolute;
        bottom: 10px;
        left: 40px;
    }
